[submodule "plugins/nvim-cmp"]
	path = plugins/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "plugins/nvim-autopairs"]
	path = plugins/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "plugins/Comment.nvim"]
	path = plugins/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "plugins/conform.nvim"]
	path = plugins/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "plugins/copilot.lua"]
	path = plugins/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua.git
[submodule "plugins/diffview.nvim"]
	path = plugins/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/gitsigns.nvim"]
	path = plugins/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "plugins/harpoon"]
	path = plugins/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
[submodule "plugins/haskell-tools.nvim"]
	path = plugins/haskell-tools.nvim
	url = https://github.com/mrcjkb/haskell-tools.nvim.git
[submodule "plugins/indent-blankline.nvim"]
	path = plugins/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "plugins/lualine.nvim"]
	path = plugins/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "plugins/mini.nvim"]
	path = plugins/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "plugins/nvim-lspconfig"]
	path = plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "plugins/nvim-tree.lua"]
	path = plugins/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "plugins/nvim-treesitter"]
	path = plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "plugins/obsidian.nvim"]
	path = plugins/obsidian.nvim
	url = https://github.com/epwalsh/obsidian.nvim.git
[submodule "plugins/onedark.nvim"]
	path = plugins/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim.git
[submodule "plugins/telescope.nvim"]
	path = plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "plugins/trouble.nvim"]
	path = plugins/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "plugins/undotree"]
	path = plugins/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "plugins/vim-rhubarb"]
	path = plugins/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "plugins/vim-sleuth"]
	path = plugins/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "plugins/vim-tmux-navigator"]
	path = plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "plugins/which-key.nvim"]
	path = plugins/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "plugins/lazy.nvim"]
	path = plugins/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "plugins/plenary.nvim"]
	path = plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "plugins/telescope-fzf-native.nvim"]
	path = plugins/telescope-fzf-native.nvim
	url = https://github.com/realbogart/telescope-fzf-native.nvim.git
[submodule "plugins/LuaSnip"]
	path = plugins/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "plugins/cmp_luasnip"]
	path = plugins/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "plugins/cmp-nvim-lsp"]
	path = plugins/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "plugins/cmp-path"]
	path = plugins/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "plugins/friendly-snippets"]
	path = plugins/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "plugins/fidget.nvim"]
	path = plugins/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim.git
[submodule "plugins/neodev.nvim"]
	path = plugins/neodev.nvim
	url = https://github.com/folke/neodev.nvim.git
[submodule "plugins/nvim-treesitter-textobjects"]
	path = plugins/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "plugins/nvim-web-devicons"]
	path = plugins/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "plugins/telescope-live-grep-args.nvim"]
	path = plugins/telescope-live-grep-args.nvim
	url = git@github.com:nvim-telescope/telescope-live-grep-args.nvim.git
[submodule "plugins/fzf-lua"]
	path = plugins/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
[submodule "plugins/nvim"]
	path = plugins/nvim
	url = git@github.com:catppuccin/nvim.git
[submodule "plugins/golf"]
	path = plugins/golf
	url = git@github.com:vuciv/golf.git
